@mixin nav {
        background: $mainBleu;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        margin-top: 5%;
        // height: 100px;
}


@mixin flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    color: $grisTxt;
    margin-top: 2%;
}

@mixin backgroundImageSection {
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

@mixin sectionBluePosition {
    background: $mainBleu;
    opacity: 50%;
    border-radius: 50px;
    color: #fff;
    margin-top: 15%;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;

}

@mixin txtBlueSction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}