@import "_variables.scss";
@import "_mixins.scss";

//FONT
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

#container{
    
    header{
        .logo-txt{
        @include flexSpaceBetween;

            .txt{
                #titre-dra-gisela-torres{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 100;

                }
            }

            #logo-dra-torres{
                width: 80px;
                height: 80px;
            }

            .logo-titre{
                display: flex;
            }

            .phone{
                display: flex;
                margin-top: 3%;
                margin-right: 5%;

                .bi-telephone-fill{
                    color: $grisTxt;
                }
            }
        }

        nav{
            @include nav;

            a{
                text-decoration: none;
                color: $whitetxt;
            }
        }
}
    // .slider{

    // }

    .quienSoy{
        margin-top: 5%;
        background-image: url('../img/img_section/cabinet001.jpg');
        @include backgroundImageSection;
        
        .blueContainer{
           @include sectionBluePosition;

            .blueContainerImg{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 70%;
                
                #picture-dra-torres{
                    opacity: 100% !important;
                }
            }
         .blueContainerTxt{
           @include txtBlueSction;
        }
    }

       
    }

    .psicoanalysise-psycoloria{
        margin-top: 5%;
        background-image: url('../img/img_section/cabinet003.jpg');
        @include backgroundImageSection;

        .blueContainer{
            @include sectionBluePosition;
        
            
            .blueContainerTxt{
           @include txtBlueSction;
        }
    }

       
    }

    .preguntas-frequente{
        background-image: url('../img/img_section/cabinet002.jpg');
        @include backgroundImageSection;
        margin-top: 5%;

        .blueContainer{
            @include sectionBluePosition;
        
            
            .blueContainerTxt{
           @include txtBlueSction;
        }
    }
    }

    footer{
        background: $mainBleu;
        
        .footerLogo{
            display: flex;
            justify-content: space-around;
            a{
                    .fa-facebook,  .fa-linkedin, .fa-twitter, .fa-envelope {
                        font-size: 50px;
                        color: $bleuLogo;
                }
            }
           
        }
    }


}
