* {
  box-sizing: border-box;
  margin: 0;
}

#container {
  border: 2px solid blueviolet;
}

#container header {
  border: 2px solid red;
}

#container header .logo-txt {
  display: flex;
  justify-content: space-between;
}

#container header .logo-txt #logo-dra-torres {
  width: 80px;
  height: 80px;
}

#container header .logo-txt .logo-titre {
  display: flex;
}

#container header .logo-txt .phone {
  display: flex;
  margin-top: 3%;
  margin-right: 5%;
}

#container header .logo-txt .phone .bi-telephone-fill {
  color: #707070;
}

#container header nav {
  background: #346c92;
  display: flex;
  justify-content: space-evenly;
}

#container header nav a {
  text-decoration: none;
  color: #ffffff;
}

#container .slider {
  border: 2px solid chartreuse;
}

#container .quienSoy {
  margin-top: 5%;
  background-image: url("../img/img_section/cabinet001.jpg");
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  border: 2px solid chocolate;
}

#container .quienSoy .blueContainer {
  background: #346c92;
  opacity: 50%;
  border-radius: 50px;
  color: #fff;
  margin-top: 15%;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

#container .quienSoy .blueContainer .blueContainerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

#container .quienSoy .blueContainer .blueContainerImg #picture-dra-torres {
  opacity: 100% !important;
}

#container .quienSoy .blueContainer .blueContainerTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#container .psicoanalysise-psycoloria {
  border: 2px solid yellowgreen;
  margin-top: 5%;
  background-image: url("../img/img_section/cabinet003.jpg");
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#container .psicoanalysise-psycoloria .blueContainer {
  background: #346c92;
  opacity: 50%;
  border-radius: 50px;
  color: #fff;
  margin-top: 15%;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

#container .psicoanalysise-psycoloria .blueContainer .blueContainerTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#container .preguntas-frequente {
  border: 2px solid black;
  background-image: url("../img/img_section/cabinet002.jpg");
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#container .preguntas-frequente .blueContainer {
  background: #346c92;
  opacity: 50%;
  border-radius: 50px;
  color: #fff;
  margin-top: 15%;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
}

#container .preguntas-frequente .blueContainer .blueContainerTxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#container footer {
  background: #346c92;
}

#container footer .footerLogo {
  display: flex;
  justify-content: space-around;
}

#container footer .footerLogo .logoSocial {
  width: 50px;
}
